@page
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Theming
@using ACU.Portals.Apply.Localization
@using Volo.Abp.Users
@inject IHtmlLocalizer<ApplyResource> L
@inject Volo.Abp.AspNetCore.Mvc.UI.Theming.IThemeManager ThemeManager
@inject ICurrentUser CurrentUser
@*@attribute [Authorize]*@

@if (User?.Identity?.IsAuthenticated==true)
{
    {
        Layout = "~/Themes/Basic/Layouts/application.cshtml";
    }
}
else
{
    {
        Layout = "~/Themes/Basic/Layouts/public.cshtml";
    }
}




@section styles {
    <abp-style src="/Pages/Index.cshtml.css" />
}
@section scripts {
    <abp-script src="/Pages/Index.cshtml.js" />
}

<div class="container">
    <abp-card style="background-color:#BEDCF4 ">
        <abp-card-header>
            <abp-card-title>
                <h2 class="w-100 mb-5 my-md-3 center" style="color: #0A1172">@L["Application_Name"]</h2>
            </abp-card-title>
        </abp-card-header>
        <abp-card-body>

            @if (User.Identity.IsAuthenticated)
            {
                <h3 style="color:#B29050">@L["Welcome_Title"] @CurrentUser.UserName</h3>
            }
            else
            {
                <h3 style="color:#B29050">@L["Welcome_Title"]</h3>
            }





            <br /><br />
            <div style="background-color: #0A1172;color:white">@L["Password_Reset_Intro"]</div>
            <br /><br />
            @L["Check_Admission_Intro"]

        </abp-card-body>
    </abp-card>
    <div>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="row">
                <div class="col-lg-4 col-8">
                    <!-- small box -->
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h5 style="text-align:center">Undergraduate Application</h5>
                        </div>

                        <center>
                            <div>
                                ₦6,000<a class="btn btn-app" href="~/ACUPay/Gateway">
                                    <i class="fas fa-money-check"></i>  Pay Now!
                                </a>
                            </div>

                        </center>


                        <a href="#" class="small-box-footer">Read More <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-4 col-8">
                    <!-- small box -->
                    <div class="small-box" style="background-color: #0A1172;color:white">
                        <div class="inner">
                            <h5 style="text-align:center">Part-Time Application</h5>
                        </div>
                        <center>
                            <div>
                                ₦6,000<a class="btn btn-app">
                                    <i class="fas fa-money-check"></i>  Pay Now!
                                </a>
                            </div>

                        </center>
                        <a href="#" class="small-box-footer">@L["Application_Action"] <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-4 col-8">
                    <!-- small box -->
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h5>Post Graduate Appplication</h5>
                            <center>
                                <div>
                                    ₦6,000<a class="btn btn-app">
                                        <i class="fas fa-money-check"></i>  Pay Now!
                                    </a>
                                </div>

                            </center>

                        </div>

                        <a href="#" class="small-box-footer">@L["Application_Action"] <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-4 col-8">
                    <!-- small box -->
                    <div class="small-box " style="background-color: #0A1172;color:white">
                        <div class="inner">
                            <h5 style="text-align:center">Sandwich Application </h5>
                        </div>
                        <center>
                            <div>
                                ₦6,000<a class="btn btn-app">
                                    <i class="fas fa-money-check"></i>  Pay Now!
                                </a>
                            </div>

                        </center>
                        <a href="#" class="small-box-footer">@L["Application_Action"] <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-4 col-8">
                    <!-- small box -->
                    <div class="small-box bg-danger">
                        <div class="inner">
                            <h5 style="text-align:center">JUBEP Application</h5>
                        </div>
                        <center>
                            <div>
                                ₦6,000<a class="btn btn-app">
                                    <i class="fas fa-money-check"></i>  Pay Now!
                                </a>
                            </div>

                        </center>
                        <a href="#" class="small-box-footer">@L["Application_Action"] <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-4 col-8">
                    <!-- small box -->
                    <div class="small-box" style="background-color: #0A1172;color:white">
                        <div class="inner">
                            <h5 style="text-align:center">MBA Appplication</h5>

                        </div>

                        <center>
                            <div>
                                ₦6,000<a class="btn btn-app">
                                    <i class="fas fa-money-check"></i>  Pay Now!
                                </a>
                            </div>

                        </center>

                        <a href="#" class="small-box-footer">@L["Application_Action"] <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>

            </div>
        }
        else
        {
            <div class="row">
                <div class="col-lg-4 col-8">
                    <!-- small box -->
                    <div class="small-box " style="background-color: #0A1172;color:white">
                        <div class="inner">
                            <h5>Undergraduate Application </h5>
                        </div>

                        <a href="#" class="small-box-footer">@L["Application_Action"] <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-4 col-8">
                    <!-- small box -->
                    <div class="small-box" style="background-color: #0A1172;color:white">
                        <div class="inner">
                            <h5>Part-Time Application</h5>
                        </div>

                        <a href="#" class="small-box-footer">@L["Application_Action"] <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-4 col-8">
                    <!-- small box -->
                    <div class="small-box" style="background-color: #0A1172;color:white">
                        <div class="inner">
                            <h5>Post Graduate Appplication</h5>


                        </div>

                        <a href="#" class="small-box-footer">@L["Application_Action"] <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-4 col-8">
                    <!-- small box -->
                    <div class="small-box " style="background-color: #0A1172;color:white">
                        <div class="inner">
                            <h5>Sandwich Application </h5>
                        </div>

                        <a href="#" class="small-box-footer">@L["Application_Action"] <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-4 col-8">
                    <!-- small box -->
                    <div class="small-box" style="background-color: #0A1172;color:white">
                        <div class="inner">
                            <h5>JUBEP Application</h5>
                        </div>

                        <a href="#" class="small-box-footer">@L["Application_Action"] <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-4 col-8">
                    <!-- small box -->
                    <div class="small-box" style="background-color: #0A1172;color:white">
                        <div class="inner">
                            <h5>MBA Appplication</h5>


                        </div>

                        <a href="#" class="small-box-footer">@L["Application_Action"] <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>

            </div>
        }

    </div>

</div>