@page
@inject IHtmlLocalizer<AccountResource> L
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.Account.Localization
@model Volo.Abp.Account.Web.Pages.Account.ForgotPasswordModel
@inject Volo.Abp.AspNetCore.Mvc.UI.Layout.IPageLayout PageLayout
@if (User?.Identity?.IsAuthenticated == true)
{
    {
        Layout = "~/Themes/Basic/Layouts/application.cshtml";
    }
}
else
{
    {
        Layout = "~/Themes/Basic/Layouts/account.cshtml";
    }
}
<div class="card-deck">

    <abp-card style="background: #d1e3f3; margin-right: 0px; border-top-right-radius: 0px; border-bottom-right-radius:0px ">
        <abp-card-body p-5>
            <h4>@L["ForgotPassword"]</h4>
            <form method="post" class="mt-4">
                <p>@L["SendPasswordResetLink_Information"]</p>
                <input asp-for="ReturnUrl" />
                <input asp-for="ReturnUrlHash" />
                <abp-input asp-for="Email" />
                <abp-button button-type="Primary" size="Block" type="submit" class="mt-2 mb-3">@L["Submit"]</abp-button>
                @if (User?.Identity?.IsAuthenticated == false)
                {
                    <a asp-page="./Login" asp-all-route-data="@(new Dictionary<string, string> {{"returnUrl", Model.ReturnUrl}, {"returnUrlHash", Model.ReturnUrlHash}})">
                        <i class="fa fa-long-arrow-left"></i> @L["Login"]
                    </a>
                }

            </form>
        </abp-card-body>
    </abp-card>
    <abp-card style="background: #0a1172; margin-left: 0px; border-top-left-radius: 0px; border-bottom-left-radius:0px " class="text-white py-5 d-md-down">

        <abp-card-body class="text-justify">

        </abp-card-body>
    </abp-card>
</div>
